
<p class="mat-dialog-title">激活</p>
<p class="mat-dialog-subtitle"> 请输入公司名称：<input type="text"></p>
<div class="mat-dialog-container">
  <div class="content">
    <!--<p class="mat-card-subtitle">请输入公司名称：<input type="text"> </p>-->
    <div class="mat-card-content">
      <!--<md-grid-list cols="7">-->
      <!--<md-grid-tile><md-checkbox>选择</md-checkbox></md-grid-tile>-->
      <!--<md-grid-tile>序列号</md-grid-tile>-->
      <!--<md-grid-tile>状态</md-grid-tile>-->
      <!--<md-grid-tile>购买日期</md-grid-tile>-->
      <!--<md-grid-tile>激活日期</md-grid-tile>-->
      <!--<md-grid-tile>激活次数</md-grid-tile>-->
      <!--<md-grid-tile>有效期</md-grid-tile>-->
      <!--</md-grid-list>-->
      `````````````````````````````````````````````````````````华丽的分割线````````````````````````````````````````````````````````````
      <table class="table">
        <thead>
        <tr class="table-title">
          <th class="td">选择</th>
          <th class="td">序列号</th>
          <th class="td">状态</th>
          <th class="td">购买日期</th>
          <th class="td">激活日期</th>
          <th class="td">激活次数</th>
          <th class="td">有效期</th>
        </tr>
        </thead>
        <tbody>
          <tr class="table-body">
            <td class="td"> <md-checkbox></md-checkbox></td>
            <td class="td"><input type="text" placeholder="请输入序列号" ></td>
            <td class="td"></td>
            <td class="td"></td>
            <td class="td"></td>
            <td class="td"></td>
            <td class="td"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
